"""
{% extends 'base.html' %}
{% block title %}Your Bookings{% endblock %}
{% block content %}
<h1>Your Bookings</h1>
<ul>
    {% for booking in bookings %}
    <li>
        Table {{ booking.table.number }} on {{ booking.date }} at {{ booking.time }} - Guests: {{ booking.guests }}
        <a href="{% url 'edit_booking' booking.id %}">Edit</a>
        <a href="#" onclick="confirmDelete('{{ booking.id }}')">Cancel</a>
    </li>
    {% endfor %}
</ul>
<script>
    function confirmDelete(bookingId) {
        if (confirm("Are you sure you want to cancel this booking?")) {
            window.location.href = `/cancel/${bookingId}/`;
        }
    }
</script>
{% endblock %}
"""